<!DOCTYPE html>
<html lang="zh">
<head>
    {% block father_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'movielist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index6.css') }}">
    {% endblock %}
</head>
<body>
    <h2>
        <img src="{{ url_for('static',filename='img/2861637f91b315b994f83808d5e2ed7.jpg') }}" alt="头像" class='avatar'>
        {{ name }}'movielist
    </h2>
    <!-- flash消息 -->
    <p>
        {% for i in get_flashed_messages() %}
        <div class='alert'>{{ i }}</div>
        {% endfor %}
    </p>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">首页</a>
            </li>
        </ul>
    </nav>
    {% block father_content %}{% endblock %}
    <footer>
        <small>&copy;2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">1903C</a>
        </small>
    </footer>
</body>
</html>