.avatar{
    width: 40px;
}
body{
    margin: 0 auto;
    max-width: 600px;
    font-size: 16px;
    font-family: 幼圆;
}
footer{
    color: #000;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
.movie-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 5px 4px 10px #cddc39ab;
}
.movie-list li{
    padding: 12px 24px;
    border-bottom:  1px solid #dddddd;
}
.movie-list li:hover{
    background-color: #f8f8f8;
}