<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车2-vue</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <style>
        .container{
            width: 40%;
            margin: 100px auto;
        }
        .remove{
            color: gray;
        }
        .remove label{
            text-decoration: line-through;    /*文字中划线*/
        }
        ul{
            border: 1px solid rgb(237, 192, 255);
            margin-top: 20px;
            width: 35%;
            border-radius: 10px;
        }
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="container" id='app'>
        <h2>{{ title }}</h2>
        <div class="input-group">
            <!-- v-on:keyup.enter绑定输入事件 -->
            <input v-model='newItem' v-on:keyup.enter='showItem' class="form-control" type="text" placeholder="输入你想购买的物品">
            <span class="input-group-btn">
                <!-- v-on:click绑定click事件 -->
                <button v-on:click='addItem' type="button" class="btn btn-default">加入购物车</button>
            </span>
        </div>
        <ul> 
            <!-- <li v-for='item in items'>{{ item }}</li>     v-for循环遍历 -->
            <li v-for='item in items' v-bind:class="{'remove':item.checked}"> <!--v-for循环遍历,v-bind:class绑定类事件，v-bind数据和元素属性-->
                <div class="checkbox">
                    <label for="">
                        <input v-model='item.checked' type="checkbox">&nbsp;{{item.text}}
                    </label>
                </div>
            </li> 
        </ul>
        <!-- 修改标题 -->
        <div class="footer">
            <hr>
            <span>改变标题：</span>
            <input v-model='title'>   <!--v-model绑定文字（双向数据绑定）-->
        </div>
    </div>
</body>
<script>
    var data = {          /*json格式*/
        // items:['花西子','MAC','阿玛尼'],    /*数组格式*/
        items:[
            {text:'花西子',checked:true},
            {text:'MAC',checked:true},
            {text:'阿玛尼',checked:true},
        ],
        title:'我的购物车清单',
        newItem:''         /*定义一个新的对象*/
    }
    // 实例化一个vue对象
    new Vue({
        el:'#app',   /*在id为app的标签上挂载vue对象*/
        data:data,    /*绑定数据*/
        methods:{       /*js写在里面*/
            addItem:function(){       /*格式-----函数名:函数体*/
                var text;   /*创建一个新的text*/
                text = this.newItem.trim();    /*当前新的标签里的内容去掉两边空格*/
                if(text){
                    this.items.push({     /*添加数据*/
                        text:text,
                        checked:false
                    })
                };
                this.newItem = ''    /*添加完后，清空input标签*/
            },
            showItem:function(){
                console.log('ssssss')
            }
        }
    })
</script>
</html>